.Container {
	background-color: #3b4353;
	padding-top: 10vh;
	text-align: center;
}


.MainContent {
	background-color: #3b4353;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	color: white;
}

.CalcInput {
	width: 3em;
}

.CorrectAnswer {
	color: green;
}

.WrongAnswer {
	color: red;
}

.App-link {
	color: #61dafb;
}